4ti2gap
aaa
ace
aclib
agt
alnuth
anupq
AttributeScheduler
AutoDoc
automata
automgrp
autpgrp
autshift
biogap
BlissInterface
BruhatDecomposition
CaratInterface
certification
Char0Gauss
circle
ClassicalMaximals
cohomolo
congruence
corelg
CoxIterGAP
crime
crypting
cryst
crystcat
cubefree
curlInterface
cvec
datastructures
debugger
DeepThought
design
example
FactInt
ferret
fga
FinInG
float
format
forms
FPLSA
fr
francy
FrancyMonoids
fwtree
GaloisGroups
gapbench
gbnp
genss
grape
groupoids
grpconst
guarana
guava
hap
hapcryst
hecke
HeLP
ibnp
idrel
images
img
InduceReduce
intpic
io
itc
json
JupyterKernel
kan
kbmag
laguna
liealgdb
liepring
liering
linboxing
LINS
LocalNR
loops
lpres
MajoranaAlgebras
MapClass
MathInTheMiddle
matrixss
meataxe64
Memoisation
modisom
NautyTracesInterface
nilmat
NoCK
nofoma
NormalizInterface
nq
numericalsgps
openmath
orb
OrbitalGraphs
PackageMaker
PackageManager
pargap
PARIInterface
PatternClass
permut
polenta
polycyclic
polymaking
primgrp
profiling
PythonInterface
qpa
quagroup
quickcheck
QuimpGrp
radiroot
RAMEGA
rcwa
rds
recog
RegisterPackageTNUMDemo
RepnDecomp
repsn
resclasses
rig
RightQuasigroups
scscp
sglppow
sgpdec
sgpviz
SimplicialSurfaces
singular
SingularInterface
sla
smallantimagmas
smallgrp
smallsemi
sonata
sophus
sotgrps
spinsym
subsemi
SymbCompCC
Thelma
tomlib
toric
typeset
UGALY
unipot
unitlib
utils
uuid
ve
walrus
wedderga
WPE
xgap
xmod
xmodalg
YangBaxter
ZeroMQInterface


__pycache__